body {
    margin: auto;
    text-align: center;
    background-color: black;
    background-repeat: no-repeat;
    background-size: 1125px, 725px;
    background-position: center;
}

#bodyBackground {
    background-image: url("../images/background images/game start.jpg");
}